
body {
	background-color: #fff;
	font-family: Sans;
}

.page {
	width: 95%;
	max-width: 800px;
	margin: auto;
}

.page h1 {
	text-align: center;
}

.grid {
	font-size: 0;
	width: 100%;
	background-color: #333;
	border-radius: 4.6%;
	padding: 1%;
}

.grid4 .tile {
	width: 23%;
}

.grid6 .tile {
	width: 14.66666%;
}

.grid8 .tile {
	width: 10.5%;
}

.grid10 .tile {
	width: 8%;
}

.tile {
	display: inline-block;
	margin: 1%;
	border-radius: 20%;
	background-color: #666;
	border-bottom: 4px solid #444;
}

/* make square */
.tile::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.tile.x {
	background-color: #68f;
	border-color: #356;
	background-image: url("./x.svg");
	background-size: 100%;
}

.tile.y {
	background-color: #f66;
	border-color: #633;
	background-image: url("./y.svg");
	background-size: 100%;
}